[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# numpy = "^1.13.1"
numpy = ">=1.13.1, <2.0.0"
# Theano = "^0.7.0"
Theano = ">=0.7.0, <0.8.0"

[dev-packages]

[requires]
python_version = "3.8"
